:root {
  --color-main: #00A5CF;
  --color-secondary: #EBFBFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

main {
  min-width: 256px;
  width: fit-content;
  max-width: 1200px;
  margin: auto;
}

main h1 {
  text-align: center;
}