.pet {
    display: inline-block;
    margin: .5em;
    border: 1px solid var(--color-main);
    border-radius: 5px;
}

.pet img {
    width: 256px;
    height: 256px;
    object-fit: cover;
}

.pet h3,
.pet div {
    text-align: center;
}

.pet ul,
.pet div a {
    padding: .5em;
    text-decoration: none;
    list-style: none;
}

.pet div a {
    color: var(--color-main);
}

.pet div a:hover {
    text-decoration: underline;
}