<div class="user-form">
    <h1>Criar conta</h1>
    <form action="/signup" method="POST">
        <div>
            <label for="name">Usuário</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <label for="password2">Confirme sua senha</label>
            <input type="password" name="password2" id="password2" required>
        </div>
        <div>
            <button type="submit">Criar conta</button>
        </div>
    </form>
</div>