body, html {
    height: 100vh;
}

body > header {
    background: #ffbd0e;
}

body {
    overflow-x: hidden;
}

/* Smartphone */
@media (min-width: 280px) {
    header > * {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 0 8px 8px 8px;
    }

    header nav ul {
        margin: 0;
    }

    body > header, header > nav, main article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    header > nav > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    header > nav > ul {
        -ms-flex-item-align: start;
            align-self: flex-start;
        padding-left: 8px;
    }

    header li, header form {
        margin-top: 8px;
    }

    header form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    header > div > img {
        display: none;
    }

    input[type='email'] {
        width: 64%;
    }

    input[type='button'] {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    main article {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    main article img {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        width: 75vw;
        max-width: 320px;
    }

    main article button {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    footer ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        padding: 0 0 12px 0;
        list-style-type: none;
    }

    #bars-menu {
        -ms-flex-item-align: end;
            align-self: flex-end;
        font-size: 1.5em;
    }
}

/* Tablet */
@media (min-width: 768px) {
    header > * {
        padding: 16px;
    }

    header > nav > ul, header > nav, header > div, main, main article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    header > nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    header > nav > ul li {
        margin-left: 8px;
    }

    header > div {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding-bottom: 0;
    }

    header > div > img {
        display: initial;
        height: 60vh;
    }

    main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    main article {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 32px;
    }

    #bars-menu {
        display: none;
    }

    .foo {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        margin-right: 32px;
    }
}

/* Laptop++ */
@media (min-width: 1024px) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    body > header {
        width: 100vw;
    }

    body > header > *, body > main > *, body > footer{
        width: 70vw;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
}