<div class="user-tought">
    <h2>Criação de pensamentos</h2>
    <form action="/tought/create" method="POST">
        <div>
            <label for="title">Pensamento</label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <button type="submit">Criar pensamento</button>
        </div>
    </form>
</div>